<%= render 'shared/page_title', title: "Log in" %>

<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |josembi| %>

<!--Email-->
	<div class="form-group">
		<div class="control-label col-md-2">
			<%= josembi.label :email %>
			
		</div>
			<div class="col-md-8">
				<%= josembi.email_field :email, class: "form-control", placeholder: "Inserire Email" %>
			</div>
	</div>

<!--Password-->
	<div class="form-group">
		<div class="control-label col-md-2">
			<%= josembi.label :password %>
			
		</div>
			<div class="col-md-8">
				<%= josembi.password_field :password, class: "form-control", placeholder: "Inserire Password" %>
			</div>
	</div>


<!--Submit-->

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<%= josembi.submit "Log in", class: "btn btn-primary btn-lg btn-xlarge" %>
		</div>
		
	</div>
<% end %>	

<div class="col-md-4 col-md-offset-4 rangi-kijani">
	[ <%= link_to "Abandona e ritorna nella lista delle ricette", recipes_path %> ]
</div>
