<%= render 'shared/page_title', title: "Il profilo di #{@chef.chefname}" %>

<div class="row">
	<div class="col-md-4 col-md-offset-4 center">
		<%= gravatar_for @chef, size: 150 %>
	</div>
</div>

<!--Grabbing all the recipes associated to each user-->
<!--I'll create a partial (_recipe) and loop through the users to parse the content they created. Capeesh? Sawasawa!-->

<h4 align="center"><%= @chef.chefname %>'s recipes</h4>

<div align="center">
	<%= will_paginate @chef_ricette %>
</div>

<%= render 'recipes/recipe', ukambani: @chef_ricette %>

<div align="center">
	<%= will_paginate @chef_ricette %>
</div>