<%= render 'shared/errors', obj: @recipe %>

<div class ="row">
	<div class="col-md-12">
		<%= form_for(@recipe, :html => {class: "form-horizontal", role: "form"}) do |josembi| %>
			<div class="form-group">
				<div class="control-label col-md-2">
					<%= josembi.label :name%>
					
				</div>
					<div class="col-md-8">
						<%= josembi.text_field :name, class: "form-control", placeholder: "Nome della ricetta", autofocus: true %>
					</div>
			</div>
			<div class="form-group">
				<div class="control-label col-md-2">
					<%= josembi.label :description %>
					
				</div>
					<div class="col-md-8">
						<%= josembi.text_area :description, rows: 10, class: "form-control", placeholder: "Inserire ingredienti" %>
					</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<%= josembi.submit(@recipe.new_record? ? "Creare Ricetta" : "Modificare Ricetta", class: "btn btn-primary btn-lg btn-xlarge") %>
				</div>
				
			</div>
		<% end %>	

	<!--Personalise buttons Text from the default DB assignment -->
	
		<div class="col-md-4 col-md-offset-4 rangi-kijani">
			[ <%= link_to "Abandona e ritorna nella lista delle ricette", recipes_path %> ]
		</div>
	</div>
	
</div>
