<%= render 'shared/page_title', title: "Modificare la ricetta" %>
<% if @recipe.errors.any? %>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-danger">
		<div class="panel-heading">
				<h2 class="panel-title">
						<%= pluralize(@recipe.errors.count, "error") %>
						: non è stata possibile per <%= @recipe.class %> di essere salvata:
				</h2>
				<div class="panel-body">
					<ul>
						<% @recipe.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


<% end %>

<div class ="row">
	<div class="col-md-12">
		<%= form_for(@recipe, :html => {class: "form-horizontal", role: "form"}) do |∂ƒ| %>
			<div class="form-group">
				<div class="control-label col-md-2">
					<%= ∂ƒ.label :name%>
					
				</div>
					<div class="col-md-8">
						<%= ∂ƒ.text_field :name, class: "form-control", placeholder: "Nome della ricetta", autofocus: true %>
					</div>
			</div>
			<div class="form-group">
				<div class="control-label col-md-2">
					<%= ∂ƒ.label :description %>
					
				</div>
					<div class="col-md-8">
						<%= ∂ƒ.text_area :description, rows: 10, class: "form-control", placeholder: "Inserire ingredienti" %>
					</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<%= ∂ƒ.submit class: "btn btn-primary btn-lg btn-xlarge" %>
				</div>
				
			</div>
		<% end %>	

		<div class="col-md-4 col-md-offset-4 rangi-kijani">
			[ <%= link_to "Abandona e ritorna nella lista delle ricette", recipes_path %> ]
		</div>
	</div>
	
</div>
