<%= render 'shared/page_title', title: @recipe.name  %>

<div class ="row">

	<div class="well col-md-8 col-md-offset-2">
  <div align="center">
    <%= image_tag @recipe.image.url if @recipe.image? %>
  </div>
	<h4 class="center description"><strong>Descrizione: </strong></h4>
	<hr />
	<%= simple_format(@recipe.description) %> 
	<hr> 
	<!--Show ingredients on show page -->
	<% if @recipe.ingredients.any? %>
		<p>Ingredienti: <%= render @recipe.ingredients %></p>
	<% end %>
	<!--Finish showing ingredients on show page -->

	<div class="pull-right">
		<p class="center"><em>Preparato da: </em></p>		
		<p class="center"> <%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef)%> </p>
		<p class="center"><small><%= @recipe.chef.chefname.capitalize %></small>
		<div class="pull-right"><%= time_ago_in_words(@recipe.created_at) %> ago</div></p>
	</div>
	<div class="recipe-actions">
		<% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?) %>
			<%= link_to "Modifica questa ricetta", edit_recipe_path(@recipe), class: "btn btn-xs btn-warning" %>
			<%= link_to "Cancella questa ricetta", recipe_path(@recipe), method: :delete, 
																						 data: { confirm: "Sei sicuro/a di voler cancellare?" }, class: "btn btn-xs btn-danger" %>
			 <% end %>
		<%= link_to "Torna nella lista delle ricette", recipes_path, class: "btn btn-xs btn-primary" %>
	</div>
</div>
</div>

<!--Start of Likes-->
		<div class="row liking">
  <div class="row col-md-8 col-md-offset-2">
    <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
      <i class="glyphicon glyphicon-thumbs-up btn-lg"></i> 
    <% end %>  <%= @recipe.thumbs_up_total %> ||
    <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
      <i class="glyphicon glyphicon-thumbs-down btn-lg"></i> 
    <% end %> <%= @recipe.thumbs_down_total %>
  </div>
</div>

<br />

<!--End of Likes-->

<!--Enable comments creation on the UI-->
	<% if logged_in? %>

	<div class ="row">
		<div class="col-md-8 col-md-offset-2">
		<h3>Commenti</h3>
		<hr />
			<%= form_for([@recipe, @comment], remote: true, :html => {class: "form-horizontal", role: "form"}) do |josembi| %>

				<div class="form-group">
					<div class="control-label col-md-2">
						<%= josembi.label :description, "Commento" %>
						
					</div>
						<div class="col-md-8">
							<%= josembi.text_area :description, rows: 8, class: "form-control", placeholder: "Inserire commento" %>
						</div>
				</div>


				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<%= josembi.submit "Pubblicare", class: "btn btn-primary btn-l btn-large" %> 
					</div>
					
				</div>
			<% end %>	
			<hr />
		</div>
	</div>

<% end %>

<!--Finish comments creation on the UI-->

<% if @recipe.comments != 0 %>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3>Commenti precedenti: </h3>
			<div id="messages">
				<%= render partial: 'comments/comments', object: @comments %>
			</div>
		</div>
	</div>

<% else %>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3>No Comments Yet!</h3>
		</div>
	</div>
<% end %>
