

<html>

<head>
    <title>Footer with Map</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Footer-with-map.css">
</head>

<body>
<div class="content">
</div>
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Più cliccate</h5>
                    <ul>
                        <li><%= link_to "Pagina Iniziale", root_path %></li>

                        <li><%= link_to "Registrazione", signup_path %></li>

                        <li><%= link_to "Ricette", recipes_path %></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>L'Osteria</h5>
                    <ul>
                        <li><li><%= link_to "I nostri Chef", chefs_path %></li></li>
                        <li><li><%= link_to "Ingredienti", ingredients_path %></li></li>
                        <li><%= link_to "Prenotazione", root_path %></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Supporto</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><%= link_to "Recensioni", root_path %></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legale</h5>
                    <ul>
                        <li><a href="#">Termini di servizio</a></li>
                        <li><a href="#">Termini d'uso</a></li>
                        <li><a href="#">Trattamento dati personali</a></li>
                    </ul>
                </div>
            </div>
            <!-- Here we use the Google Embed API to show Google Maps. -->
            <!-- In order for this to work in your project you will need to generate a unique API key.  -->
            <iframe id="map-container" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJk8v4J1sxf0cRdKHAbrXElsQ&key=AIzaSyD7BZW2ihjRaWhphZGHDiP8jCP2HNKWhcc" >
            </iframe>
        </div>
        <div class="social-networks">
            <a href="https://twitter.com/appwebtech" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/theappwebtech/" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://github.com/appwebtech" class="github"><i class="fa fa-github"></i></a>
        </div>
        <div class="footer-copyright">
            <p>© 2017 Appwebtech </p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>